@model Models.Network
@{
    ViewData["Title"] = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link href="~/css/NetworkSearch.css" rel="stylesheet" />
    </head>
<body>
    @{
        <div class="card mt-5 w-50 mx-auto">
            <div class="card-header bg-dark text-light">
                <img class="netwerk-afbeelding" src="~/uploadedimages/@Model.ImageID" />
                <p class="join-networkname">@Model.NetworkName</p>
            </div>
            <div class="card-body">
                <form asp-action="JoinNetwork" asp-controller="Network" form="post">
                    @{JoinNetworkModel joinmodel = new JoinNetworkModel(); }
                    @{
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Password: </span>
                            </div>
                            <input asp-for="@joinmodel.Password" class="form-control" type="password" />
                        </div>
                        <input asp-for="@joinmodel.NetworkID" type="hidden" value="@Model.ID" />
                        <button class="btn btn-dark" type="submit">Join</button>
                    }
                </form>
            </div>
        </div>
    }
</body>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

