@page
@model IndexModel
@{
    ViewData["Title"] = "Favours";
}

<!DOCTYPE html>
<link rel="stylesheet" href="site.css">
<script src="~/js/site.js"></script>
<html>

<head>
</head>

<body>
    <button class="login-button" type="button">Click Me!</button>
</body>

</html>